
tools/__pycache__/*
tools/calc_integrity.py
tools/migrate_to_bzlmod.py*
tools/module_analyzer.py*
tools/module_selector.py*
tools/sync_to_gcs.sh*
tools/update_integrity_test.sh*
tools/BUILD
tools/README.md
tools/add_module.py
tools/bcr_validation.py
tools/module_selector_test.py
tools/package.json
tools/pnpm-lock.yaml
tools/print_all_src_urls.py
tools/registry.py
tools/requirements.in
tools/requirements_lock.txt
tools/update_integrity.py
tools/verify_stable_archives.py
tools/version_test.py
